{layout $app->getCoreLayout()}

{block content}
    <main>
        <h1>My Plugin</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab modi, quibusdam? Excepturi expedita nesciunt
            similique.
        </p>
    </main>
{/block}